{% extends 'home.html' %}

{% block content %}

    <!--------------------------------Navbar for movie ordering--------------------------------->

    <nav class="nav my-4 border border-dark p-1">
        <span class="navbar-text">Order by:</span>
        {% if user_id %}
            <a class="nav-link" href="{% url 'movies:sort_user_movies' user_id 'pub_date' %}">date</a>
            <div class="vr"></div>
            <a class="nav-link" href="{% url 'movies:sort_user_movies' user_id 'likes' %}">like</a>
            <div class="vr"></div>
            <a class="nav-link" href="{% url 'movies:sort_user_movies' user_id 'hates' %}">hate</a>
        {% else %}
            <a class="nav-link" href="{% url 'movies:sort_movies' 'pub_date' %}">date</a>
            <div class="vr"></div>
            <a class="nav-link" href="{% url 'movies:sort_movies' 'likes' %}">like</a>
            <div class="vr"></div>
            <a class="nav-link" href="{% url 'movies:sort_movies' 'hates' %}">hate</a>
        {% endif %}
    </nav>
    <!--------------------------------End navbar--------------------------------->

    <!--------------------------------Movies list--------------------------------->

    <div class="row">
        <div class="col">
            {% for movie in movies %}
                <!--------------------------------Movie details--------------------------------->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-substitle">
                            Posted by
                            {% if movie.user == user %}
                                <a href="{% url 'movies:user_movies' movie.user.id %}">You</a>
                            {% else %}
                                <a href="{% url 'movies:user_movies' movie.user.id %}">{{ movie.user }}</a>
                            {% endif %}
                            {{ movie.pub_date | timesince }} ago
                        </p>
                        <p class="card-text">{{ movie.desc }}</p>

                        <!--------------------------------Movie like/hate variations--------------------------------->

                        <div class="row">
                            <div class="col-auto">
                                <form action="{% url 'movies:react_to_movie' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                    {% if user == movie.user or user in movie.likes.all %}
                                        <button class="btn btn-link" name="like_btn"
                                                type="submit" disabled>{{ movie.likes.count }} Likes
                                        </button>
                                    {% else %}
                                        <button class="btn btn-link" name="like_btn"
                                                type="submit">{{ movie.likes.count }} Likes
                                        </button>
                                    {% endif %}
                                    {% if user == movie.user or user in movie.hates.all %}
                                        <button class="btn btn-link" name="hate_btn"
                                                type="submit" disabled>{{ movie.hates.count }} Hates
                                        </button>
                                    {% else %}
                                        <button class="btn btn-link" name="hate_btn"
                                                type="submit">{{ movie.hates.count }} Hates
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                            {% if user in movie.likes.all or user in movie.hates.all %}
                                <div class="col text-end">
                                    <form action="{% url 'movies:react_to_movie' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                        <div class="row justify-content-end align-items-center">
                                            <div class="col-auto">
                                                <div class="hstack gap-3">
                                                    {% if user in movie.likes.all %}
                                                        <div> You like this movie</div>
                                                        <div class="vr"></div>
                                                        <button class="btn btn-link" name="like_btn"
                                                                type="submit">Unlike
                                                        </button>
                                                    {% elif user in movie.hates.all %}
                                                        <div> You hate this movie</div>
                                                        <div class="vr"></div>
                                                        <button class="btn btn-link" name="hate_btn"
                                                                type="submit">Unhate
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <!--------------------------------End movie like/hate variations------------------------------>
                    </div>
                </div>
                <!--------------------------------End movie details--------------------------------->
            {% endfor %}
        </div>
        <!--------------------------------End movies list--------------------------------->

        <!--------------------------------Add new movie--------------------------------->
        {% if user.is_authenticated %}
            <div class="col-auto">
                <a class="btn btn-success" href="{% url 'movies:add_movie' %}">Add Movie</a>
            </div>
        {% endif %}
    </div>

    <!--------------------------------End add new movie--------------------------------->
{% endblock %}